* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-style: 'Poppins', sans-serif;
}
.navbar-light a.navbar-brand,
.navbar-light a.navbar-brand:hover
 {
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 1px;
    color: #121C33;
}
.singleCards .col .card {
    border-radius: 25px;
}
.singleCards .card, .singleCharacter .card {
    height: 13em;
}
.singleCards .col .card .card-img-top {
    width: 65%;
}
.singleCards .col .card .card-body {
    line-height: 1px;
    margin-top: -30px;
}
.singleCharacPage {
    width: 75%;
}
.singleCharacter .col .card .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 8em;
}
.singleCharacter .col .card {
    border-radius: 20px;
}
.singleCharacter .col .card .card-body {
    line-height: 1px;
}
 @media (max-width: 768px) {
    .singleCards .col .card .card-img-top {
        width: 30%;
    }

 }